<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.spring.eqm.mapper.EqmMapper">
	
	<select id="selectEmpList" resultType="EqmVO">
		SELECT name
		FROM emp
	</select>

	<select id="selectEqmList" resultType="EqmVO" >
		SELECT eqm_cd, 
               eqm_fg, 
               eqm_nm,
               eqm_ist_dt,             
               eqm_min_temp, 
               eqm_max_temp, 
               chck_perd, 
               use_yn, 
               eqm_mng, 
               eqm_img
     	FROM eqm 
     	ORDER BY eqm_cd       
	</select>
	
	<select id="selectMaxCd" resultType="EqmVO">
		SELECT 
    			MAX(CASE WHEN SUBSTR(eqm_cd, 4, 1) = '1' THEN SUBSTR(eqm_cd, 4) END) AS first_max,
    			MAX(CASE WHEN SUBSTR(eqm_cd, 4, 1) = '2' THEN SUBSTR(eqm_cd, 4) END) AS second_max,
    			MAX(CASE WHEN SUBSTR(eqm_cd, 4, 1) = '3' THEN SUBSTR(eqm_cd, 4) END) AS third_max,
    			MAX(CASE WHEN SUBSTR(eqm_cd, 4, 1) = '4' THEN SUBSTR(eqm_cd, 4) END) AS fourth_max,
    			MAX(CASE WHEN SUBSTR(eqm_cd, 4, 1) = '5' THEN SUBSTR(eqm_cd, 4) END) AS fifth_max
		FROM eqm   			
		WHERE SUBSTR(eqm_cd, 4, 1) IN ('1', '2', '3', '4', '5')
	</select>
	
	<select id="selectEqm" resultType="EqmVO">
		SELECT eqm_cd, 
               eqm_fg, 
               eqm_nm,
               eqm_ist_dt,             
               eqm_min_temp, 
               eqm_max_temp, 
               chck_perd, 
               use_yn, 
               eqm_mng, 
               eqm_img
        FROM eqm
        WHERE eqm_cd = #{eqmCd}       
	</select>
	
	<insert id="insertEqm" parameterType="EqmVO">
		INSERT INTO eqm ( 
                   eqm_cd,
                   eqm_fg,
                   eqm_nm,
                   eqm_ist_dt,
                   eqm_min_temp,
                   eqm_max_temp,
                   chck_perd,
                   use_yn,
                   eqm_mng,
                   eqm_img,
                   eqm_img_path,
                   prcs_cd
                  )
                  values (
                          #{eqmCd},
                          #{eqmFg},
                          #{eqmNm},
                          <if test="eqmIstDt != null">
                          #{eqmIstDt}
                          </if>
                          <if test="eqmIstDt == null">
                          SYSDATE
                          </if>,
                          #{eqmMinTemp},
                          #{eqmMaxTemp},
                          #{chckPerd},
                          #{useYn},
                          #{eqmMng},
                          #{eqmImg},
                          #{eqmImgPath},
                          <if test="eqmFg == '분쇄기'">
                          'PRCS1000'
                          </if>
                          <if test="eqmFg == '계량기'">
                          'PRCS2000'
                          </if>
                          <if test="eqmFg == '배합기'">
                          'PRCS3000'
                          </if>
                          <if test="eqmFg == '건조기'">
                          'PRCS4000'
                          </if>
                          <if test="eqmFg == '포장기'">
                          'PRCS5000'
                          </if>
                         )
	</insert>
	
	<delete id="deleteEqm" parameterType="EqmVO">
		DELETE FROM eqm
		WHERE eqm_cd = #{eqmCd}
	</delete>
	
	<update id="updateEqm" parameterType="EqmVO">
		UPDATE eqm
		SET        eqm_nm = #{eqmNm},
                   eqm_ist_dt = #{eqmIstDt},
                   eqm_min_temp = #{eqmMinTemp},
                   eqm_max_temp = #{eqmMaxTemp},
                   chck_perd = #{chckPerd},
                   use_yn = #{useYn},
                   eqm_mng = #{eqmMng},
                   eqm_img = #{eqmImg}
        WHERE eqm_cd = #{eqmCd}         
	</update>
	
	<!-- 설비점검내역 -->
	<!-- 전체조회 -->
	<select id="selectCheckList" resultType="EqmVO">
		SELECT c.CHECK_CD,
			   c.EQM_CD, 
			   c.CHCK_FG,
			   c.CHCK_DT,
			   c.JDGMNT,
			   c.DISPO_CTNT,
			   c.CHCK_PSCH,
			   c.EQM_NM,
               e.chck_perd+c.chck_dt next_chck_dt
		FROM eqm_check c join eqm e
        ON c.eqm_nm = e.eqm_nm
		ORDER BY chck_dt DESC
	</select>
	
	<!-- 검색조회 -->
	<select id="searchEqmCheck" parameterType="EqmVO" resultType="EqmVO">
		SELECT CHECK_CD,
			   EQM_CD, 
			   CHCK_FG,
			   CHCK_DT,
			   JDGMNT,
			   DISPO_CTNT,
			   CHCK_PSCH,
			   EQM_NM
		FROM eqm_check
		<where>
			<if test="startDt != null and endDt != null">
				AND chck_dt BETWEEN #{startDt} AND #{endDt}
			</if>
			<if test="eqmNm != null">
				AND eqm_nm LIKE '%'||#{eqmNm}||'%'
			</if>
		</where>
	</select>
	
	<!-- 설비점검내역단건조회 -->
	<select id="selectCheck" parameterType="EqmVO" resultType="EqmVO">
		SELECT CHECK_CD,
			   EQM_CD, 
			   CHCK_FG,
			   CHCK_DT,
			   JDGMNT,
			   DISPO_CTNT,
			   CHCK_PSCH,
			   EQM_NM
		FROM eqm_check 	
		WHERE check_cd = #{checkCd}    
	</select>
	
	<!-- 점검등록 -->
	<insert id="insertCheck" parameterType="EqmVO">
		<selectKey keyProperty="checkCd" resultType="String" order="BEFORE">
			SELECT 'CHK'||(TO_NUMBER(SUBSTR(NVL(MAX(check_cd),'CHK999'),4)) + 1) check_cd
			FROM eqm_check
		</selectKey>
		INSERT INTO eqm_check (
								check_cd, 
							    eqm_cd, 
							    chck_fg, 
							    chck_dt, 
							    jdgmnt, 
							    dispo_ctnt, 
							    chck_psch, 
							    eqm_nm
							    )
				VALUES (
						#{checkCd},
						#{eqmCd},
						#{chckFg}, 
						#{chckDt},
						#{jdgmnt},
						#{dispoCtnt},
						#{chckPsch},
						#{eqmNm}
						)
	</insert>
	
	<!-- 점검삭제 -->
	<delete id="deleteCheck" parameterType="String">
		DELETE FROM eqm_check
		WHERE check_cd = #{checkCd}
	</delete>
	
	<update id="updateCheck" parameterType="EqmVO">
		UPDATE eqm_check
		SET chck_dt = #{chckDt}, 
			jdgmnt = #{jdgmnt}, 
			dispo_ctnt = #{dispoCtnt}, 
			chck_psch = #{chckPsch},
			chck_fg = #{chckFg}
		WHERE check_cd = #{checkCd}
	</update>
	
	<!-- 설비비가동 -->
	<select id="selectOprList" resultType="EqmVO">
		SELECT nopr_cd, 
               e.eqm_cd, 
               e.eqm_nm, 
               fr_dt, 
               fr_hm, 
               to_dt, 
               to_hm, 
               eqm_psch, 
               opert_ctnt
        FROM eqm e JOIN eqm_opr
        ON e.eqm_cd = eqm_opr.eqm_cd       
	</select>
	
	<select id="selectYList" resultType="EqmVO">
		SELECT eqm_cd, 
               eqm_nm,
               use_yn 
     	FROM eqm 
     	WHERE use_yn = 'Y'
     	ORDER BY eqm_cd
	</select>
	<select id="selectMaxNoprCd" resultType="EqmVO">
		SELECT NVL(MAX(nopr_cd),'OPR1000') nopr_cd
		FROM eqm_opr
	</select>
	
	<insert id="insertOprUpdateY" parameterType="EqmVO">
	BEGIN
		insert into eqm_opr (nopr_cd, 
                     eqm_cd,                     
                     fr_dt,
                     fr_hm, 
                     to_dt,
                     to_hm, 
                     eqm_psch, 
                     opert_ctnt) 
             values( #{noprCd},
                     #{eqmCd},                   
                     #{frDt},
                     #{frHm},
                     #{toDt},
                     #{toHm},
                     #{eqmPsch},
                     #{opertCtnt} );
        UPDATE eqm 
		SET use_yn = 'N'
		WHERE eqm_cd = #{eqmCd};             
	END;
	</insert>
	
	<delete id="deleteOpr" parameterType="String">
	BEGIN
		UPDATE eqm
		SET use_yn = 'Y'
		WHERE eqm_cd = (select eqm_cd from eqm_opr where nopr_cd = #{noprCd});
		
		DELETE FROM eqm_opr
		WHERE nopr_cd = #{noprCd};
	END;	
	</delete>
	
	<update id="updateOpr" parameterType="EqmVO">
		UPDATE eqm_opr
		SET fr_dt = #{frDt}, 
			fr_hm = #{frHm}, 
            to_dt = #{toDt}, 
            to_hm = #{toHm}, 
            eqm_psch = #{eqmPsch}, 
            opert_ctnt = #{opertCtnt}
        WHERE nopr_cd = #{noprCd}    
	</update>
</mapper>
