<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.spring.production.mapper.ProMapper">
  	
  	<!-- 생산계획 코드 조회 -->
  	<select id="getNextPlanCd" resultType="ProPlanVO">
		SELECT plan_cd
		FROM(
			    SELECT plan_cd 
			    FROM plan
			    ORDER BY ROWNUM DESC)
		WHERE ROWNUM = 1
	</select>
  	<!-- 생산계획 등록 -->
	<insert id="InsertNewPlan" parameterType="ProPlanVO">
		    <selectKey keyProperty="planCd" resultType="String" order="BEFORE">
		        SELECT PRO_SEQ_PLANCD.NEXTVAL FROM DUAL
		    </selectKey>
	  		DECLARE
				v_prdt_nm	VARCHAR2(100);
				v_pran_cd	VARCHAR2(100);
	  		BEGIN
	  			v_prdt_nm := #{prdtNm};
	  			v_pran_cd := 'PLN' || ${planCd};
	
	  			SELECT 	prdt_nm
	  			INTO	v_prdt_nm
	  			FROM 	edcts
	  			WHERE	edcts_cd = #{edctsCd};
	
	  				
	  			<!-- 생산계획테이블 -->
	  			INSERT INTO plan (plan_cd,
	  							  plan_name,
	  							  paprd_dt,
	  							  now_st,
	  							  plan_dt
	
	  							  )
	  					VALUES	 (v_pran_cd,
	  							  #{planName},
	  							  #{paprdDt},
	  							  '미지시',
	  							  sysdate
	
	  							  );
	  			<!-- 생산계획디테일 테이블 -->
	  			INSERT INTO plan_dtl (plan_cd,
		  							  pref_rank,
		  							  edcts_cd,
		  							  bom_cd,
		  							  order_cnt,
		  							  wk_to_dt,
		  							  prdt_nm
		  							  )
		  					VALUES	 (v_pran_cd,
		  							  #{prefRank},
		  							  #{edctsCd},
		  							  #{bomCd},
		  							  #{orderCnt},
		  							  #{wkToDt},
		  							  v_prdt_nm
		  							  );
	  		END;
	  	</insert>
 
  	
  	  	<!-- 생산계획 여러 제품 저장 -->
  	<insert id="plusPlanInsert" parameterType="ProPlanVO">
  		DECLARE
			v_prdt_nm	VARCHAR2(100);
			v_plan_cd	VARCHAR2(100);
  		BEGIN
  			v_prdt_nm := #{prdtNm};

  			SELECT 	prdt_nm
  			INTO	v_prdt_nm
  			FROM 	edcts
  			WHERE	edcts_cd = #{edctsCd};
  			
  			SELECT 	plan_cd
  			INTO	v_plan_cd
		    FROM (
		        SELECT plan_cd
		        FROM plan
		        ORDER BY plan_dt DESC
		    ) 
		    WHERE ROWNUM = 1;

  			<!-- 생산계획디테일 테이블 -->
  			INSERT INTO plan_dtl (plan_cd,
	  							  pref_rank,
	  							  edcts_cd,
	  							  bom_cd,
	  							  order_cnt,
	  							  wk_to_dt,
	  							  prdt_nm
	  							  )
	  					VALUES	 (v_plan_cd,
	  							  #{prefRank},
	  							  #{edctsCd},
	  							  #{bomCd},
	  							  #{orderCnt},
	  							  #{wkToDt},
	  							  v_prdt_nm
	  							  );
  		END;
  	</insert>
  	
  	
  	
  	
  	<!-- 미지시 주문서 조회 -->
  	<select id="selectOrderSheet" resultType="OrderSheetVO">
  		SELECT ost.order_no,
  			   ospt.edcts_cd,
  			   ost.vend_cd,
  			   ost.vend_nm,
  			   ost.order_dt,
  			   ost.prog_appe,
  			   ost.paprd_dt,
  			   ospt.prdt_nm,
  			   ospt.order_cnt,
  			   b.bom_cd
  		FROM   order_sheet_test ost, order_sheet_prd_test ospt,bom b
  		WHERE  b.edcts_cd = ospt.edcts_cd
  		  AND  ost.order_no = ospt.order_no
  		  AND  ost.prog_appe = '접수완료'
  		ORDER BY ost.paprd_dt DESC
  	</select>
  	<!-- 완제품 정보 조회 -->
  	<select id="selectPrdtInfo" resultType="OrderSheetVO">
  		SELECT 		edcts_cd , prdt_nm 
  		FROM 		edcts
  		ORDER BY 	edcts_cd
  	</select>
  	
  	<!-- BOM 정보 조회 -->
  	<select id="selectBomInfo" resultType="BomVO">
  		SELECT bom_cd, standard, edcts_cd
  		FROM bom
  		<if test="edctsCd != null and !edctsCd.equals('')">
  		WHERE	edcts_cd = #{edctsCd}
  		</if>
  		ORDER BY bom_cd
  	</select>
  	
  	<!-- BOM에 따른 자재 정보 -->
  	<select id="selectBomRscInfo" resultType="BomVO">
		SELECT 	r.rsc_nm, b.use_cnt, b.unit, r.rsc_typ, p.prcs_nm
		FROM 	bom_detail b, rsc r, prcs p
		Where 	b.rsc_cd = r.rsc_cd
		  AND 	b.prcs_cd = p.prcs_cd 
		  AND 	bom_cd = #{bomCd}
  	</select>
  	
  	<!-- 생산계획 총개수 -->
  	<select id="selectProPlanCnt" resultType="int">
  		SELECT 	COUNT(plan_cd)
  		FROM	plan
  	</select>
  	
  		<!-- 생산계획 조회 + 페이징-->
	<select id="selectProPlans" resultType="ProPlanVO">
	<![CDATA[
		SELECT 	plan_cd,
				plan_name,
				paprd_dt,
				now_st,
				plan_dt,
				order_no,
				pref_rank,
				edcts_cd,
				order_cnt,
				wk_to_dt,
				prdt_nm
		FROM 	(SELECT	rownum rn,
						p.plan_cd,
						p.plan_name,
						p.paprd_dt,
						p.now_st,
						p.plan_dt,
						p.order_no,
						d.pref_rank,
						d.edcts_cd,
						d.order_cnt,
						d.wk_to_dt,
						d.prdt_nm
				   FROM	plan p, plan_dtl d
				  WHERE	p.plan_cd = d.plan_cd
				    AND p.now_st IN ('미지시', '지시완료', '생산완료')
				    AND rownum <= #{pageNum} * #{amount})
		WHERE rn > (#{pageNum}-1)* #{amount}
		ORDER BY plan_dt
	]]>
	</select>
	<!-- 생산계획 취소 -->
	<update id="deleteProPlan" parameterType="String">
	  		UPDATE 	plan
	  		SET	 	now_st = '계획취소'
	  		WHERE	plan_cd = #{planCd}
	</update>
	
	<!-- 생산 계획 수정 -->
	<update id="updateProPlan" parameterType="ProPlanVO">
		DECLARE
			v_edcts_cd	VARCHAR2(100);
		BEGIN
			v_edcts_cd := #{edctsCd};
			
			SELECT 	edcts_cd
			INTO 	v_edcts_cd
			FROM 	edcts
			WHERE 	prdt_nm = #{prdtNm};
	
			UPDATE 	plan
			SET 	plan_dt = sysdate,
					plan_name = #{planName}
			WHERE 	plan_cd = #{planCd};
	
			UPDATE 	plan_dtl
			SET 	order_cnt = #{orderCnt},
					wk_to_dt = #{wkToDt},
					prdt_nm = #{prdtNm},
					edcts_cd = v_edcts_cd
			WHERE 	plan_cd = #{planCd};
		END;
	</update>
	
	
	
	<!-- 공정관리 페이지 조회 -->
	<select id="selectPrcsList" resultType="ProPrcsVO">
	<![CDATA[
		SELECT 	prcs_cd,
				prcs_nm,
				prcs_fg,
				prcs_ctnt,
				prcs_dt
		FROM 	(SELECT	rownum rn,
						prcs_cd,
						prcs_nm,
						prcs_fg,
						prcs_ctnt,
						prcs_dt
				   FROM	prcs
				  WHERE	 rownum <= #{pageNum} * #{amount})
		WHERE rn > (#{pageNum}-1)* #{amount}
		ORDER BY prcs_cd
	]]>
	</select>
	
	<!-- 공정등록 -->
	<insert id="insertPrcs" parameterType="ProPrcsVO">
		INSERT INTO prcs (
							prcs_cd,
							prcs_nm,
							prcs_fg,
							prcs_ctnt,
							prcs_dt
							)
		VALUES (
				#{prcsCd},
				#{prcsNm},
				#{prcsFg},
				#{prcsCtnt},
				#{prcsDt}
				)
	</insert>
	
	<!-- 공정삭제 -->
	<delete id="deletePrcs" parameterType="String">
		DELETE FROM prcs
		WHERE prcs_cd = #{prcsCd}
	</delete>
	
	<!-- 생산지시 조회 + 페이징 -->
	<select id="selectProOrders" resultType="ProOrderVO">
	<![CDATA[
		SELECT 	indica_dt,
				plan_cd,
				pref_rank,
				now_st,
				order_cnt,
				wk_to_dt,
				indica_cnt,
				edcts_cd,
				bom_cd
		FROM 	(SELECT	rownum rn,
						ic.indica_dt,
						ic.plan_cd,
						ic.pref_rank,
						ic.now_st,
						idd.order_cnt,
						idd.wk_to_dt,
						idd.indica_cnt,
						idd.edcts_cd,
						idd.bom_cd
				   FROM	indica ic, indica_dtl idd
				  WHERE	ic.plan_cd = idd.plan_cd
				  	AND ic.indica_dt = idd.indica_dt
				    AND rownum <= #{pageNum} * #{amount})
		WHERE rn > (#{pageNum}-1)* #{amount}
		ORDER BY indica_dt
	]]>
	</select>
	<!-- 지시 개수 -->
	<select id="getProOrderCnt" resultType="int">
		SELECT COUNT(*) FROM indica
	</select>
	
	<!-- 미지시 생산 계획 조회 -->
  	<select id="selectPlanToOrder" resultType="ProPlanVO">
  		SELECT p.plan_cd,
  			   p.paprd_dt,
  			   p.now_st,
  			   pref_rank,
  			   pd.edcts_cd,
  			   pd.bom_cd,
  			   pd.order_cnt,
  			   pd.wk_to_dt,
  			   e.prdt_nm
  		FROM   plan p, plan_dtl pd, edcts e
  		WHERE  p.plan_cd = pd.plan_cd
  		  AND  pd.edcts_cd = e.edcts_cd
  		  AND  p.now_st = '미지시'
  		ORDER BY p.plan_cd
  	</select>
  	
  	<select id="selectBomStock" resultType="BomVO">
  		SELECT b.bom_cd, 
  			   r.rsc_cd, 
  			   r.rsc_nm, 
  			   r.rsc_spec, 
  			   r.rsc_typ, 
  			   l.rsc_lot_cd, 
  			   l.lot_rmn_cnt, 
  			   l.exp_dt,
  			   p.prcs_nm  
		FROM  prcs p,bom_detail b, rsc r, rsc_lot l
		WHERE p.prcs_cd = b.prcs_cd
		  AND b.rsc_cd = r.rsc_cd
		  AND r.rsc_cd = l.rsc_cd
		  AND b.bom_cd = #{bomCd}
  	</select>
  	
  	<select id="selectgetRscStock" resultType="BomVO">
  		SELECT 	r.rsc_cd, r.rsc_nm, r.rsc_spec, r.rsc_typ, rs.rscstc,bd.unit, bd.use_cnt
		FROM 	rsc r, rsc_stc rs, bom b, bom_detail bd
		WHERE 	r.rsc_cd = rs.rsc_cd
		  AND 	b.bom_cd = bd.bom_cd
		  AND 	b.edcts_cd = #{edctsCd}
		  AND 	r.rsc_cd = bd.rsc_cd
		ORDER BY b.bom_cd  
  	</select>
  	
  	<!-- 등록된 주문서 상태변경 -->
  	<update id="updateOrderStatus" parameterType="String">
  			UPDATE 	order_sheet_test
		  	SET	 	prog_appe = '계획완료'
		  	WHERE	order_no = #{orderNo}
  	</update>
  	
  	
  	
  	
  </mapper>