<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터 페이스 경로 -->
<mapper namespace="com.yedam.spring.mat.mapper.MatMapper">
<!-- 자재정보 전체 조회 -->
	<select id="matList" resultType="MatVO">
		SELECT *
		FROM rsc
	   ORDER BY use_yn DESC, RSC_CD
	</select>
<!-- 사용하는 자재정보 전체 조회 -->
	<select id="matUseList" resultType="MatVO">
		SELECT *
		FROM rsc
	   WHERE use_yn = 'Yes'	
	   ORDER BY RSC_CD
	</select>	
<!-- 자재정보 단건 조회 -->
	<select id="selectMatInfo" resultType="MatVO">
	SELECT rsc_cd,
		   rsc_nm,
		   rsc_spec,
		   mng_unit,
		   rsc_typ,
		   saf_stc,
		   use_yn,
		   vend_cd,
		   vend_nm
	  FROM rsc
     WHERE rsc_cd = #{rscCd}
	</select>
<!-- 자재정보 단건 조회 -->
	<select id="matVendList" resultType="MatVO">
	SELECT vend_cd,
		   vend_nm,
		   vend_typ		   
	  FROM vend
     WHERE vend_typ = '매입처'
     ORDER BY vend_cd
	</select>	
<!-- 자재정보 등록 -->
	<insert id="insertMatInfo" parameterType="MatVO">
		INSERT INTO rsc (
		rsc_cd,
		rsc_nm,
		rsc_spec,
		mng_unit,
		rsc_typ,
		saf_stc,
		use_yn,
		vend_cd,
		vend_nm
		)
		VALUES (
		'RSC${rscCd}',
		#{rscNm},
		#{rscSpec},
		#{mngUnit},
		#{rscTyp},
		#{safStc},
		#{useYn},
		#{vendCd},
		#{vendNm}
		)
	</insert>
	<!--#{} : preparedStatement 들어오는 데이터를 sql에 맞게 타입을 맞춰줌
	${} : 타입 변경 없이 있는그대로 집어 넣음-->
	<!-- #은 타입에 따라서 숫자면 ''가 안 붙고 문자면 ''가 붙는데
	$는 타입상관없이 앞에것에 붙도록 한다.-->
	
	<!-- 수정 : 급여를 정해진 비율로 인상 2개의 다른 타입의 매개변수를 사용할 경우 parameterType 생략 -->
	<!-- <update id="updateEmpSal"> UPDATE employees SET salary = salary * (1+ 
		#{raise}/100) WHERE employee_id = #{empId} </update> -->
<!-- 자재정보 수정 -->
	<update id="updateMatInfo" parameterType="MatVO">
		UPDATE rsc
		<set>
			<if test="rscCd != null and !rscCd.equals('')">
				rsc_cd = #{rscCd},
			</if>
			<if test="rscNm != null and !rscNm.equals('')">
				rsc_nm = #{rscNm},
			</if>
			<if test="rscSpec != null and !rscSpec.equals('')">
				rsc_spec = #{rscSpec},
			</if>
			<if test="rscTyp != null and !rscTyp.equals('')">
				rsc_typ = #{rscTyp},
			</if>
			<if test="safStc > 0">
				saf_stc = #{safStc},
			</if>
			<if test="useYn != null and !useYn.equals('')">
				use_yn = #{useYn},
			</if>
			<if test="vendCd != null and !vendCd.equals('')">
				vend_cd = #{vendCd},
			</if>
			<if test="vendNm != null and !vendCd.equals('')">
				vend_nm = #{vendNm},
			</if>

		</set>
		WHERE rsc_cd = #{rscCd}
	</update>

<!-- 자재발주 전체 조회 -->
	<select id="matOrderAllList" resultType="MatVO">
		SELECT *
		FROM rsc_ordr
	   ORDER BY ordr_chk DESC, ordr_cd DESC
	</select>
<!-- 자재발주 단건 조회 -->
	<select id="selectMatOrderInfo" resultType="MatVO">
	SELECT *
	  FROM rsc_ordr		   
     WHERE ordr_cd = #{ordrCd}	
	</select>
<!-- 자재발주 등록 -->
	<insert id="insertMatOrderInfo" parameterType="MatVO">
		<selectKey keyProperty="ordrCd" resultType="String" order="BEFORE">
		    SELECT CONCAT('RSO', LPAD(NVL(MAX(SUBSTR(ordr_cd, 4)), '0000') + 1, 4, '0'))
		    FROM rsc_ordr
	   </selectKey>
		INSERT INTO rsc_ordr (
		ordr_cd,
		ordr_req_dt,
		VEND_CD,
		RSC_CD,
		ORDR_CNT,
		PAPRD_CMND_DT,
		VEND_NM,
		RSC_NM,
		ordr_chk
		)
		VALUES (
		#{ordrCd},
		#{ordrReqDt},
		#{vendCd},
		#{rscCd},
		#{ordrCnt},
		#{paprdCmndDt},
		#{vendNm},
		#{rscNm},
		'진행중'
		)
	</insert>
	<!-- #은 타입에 따라서 숫자면 ''가 안 붙고 문자면 ''가 붙는데
	$는 타입상관없이 앞에것에 붙도록 한다.-->
	
	<!-- 수정 : 급여를 정해진 비율로 인상 2개의 다른 타입의 매개변수를 사용할 경우 parameterType 생략 -->
	<!-- <update id="updateEmpSal"> UPDATE employees SET salary = salary * (1+ 
		#{raise}/100) WHERE employee_id = #{empId} </update> -->
<!-- 자재발주 수정 -->
	<update id="updateMatOrderInfo" parameterType="MatVO">
		UPDATE rsc_ordr
		<set>
			<if test="ordrCd != null and !ordrCd.equals('')">
				ordr_cd = #{ordrCd},
			</if>
			<if test="ordrReqDt != null and !ordrReqDt.equals('')">
				ordr_req_dt = #{ordrReqDt},
			</if>
			<if test="vendCd != null and !vendCd.equals('')">
				VEND_CD = #{vendCd},
			</if>
			<if test="vendNm != null and !vendNm.equals('')">
				VEND_NM = #{vendNm},
			</if>
			<if test="rscCd != null and !rscCd.equals('')">			
				RSC_CD = #{rscCd},
			</if>
			<if test="rscNm != null and !rscNm.equals('')">
				RSC_NM = #{rscNm},
			</if>
			<if test="ordrCnt > 0">
				ORDR_CNT = #{ordrCnt},
			</if>
			<if test="paprdCmndDt != null and !paprdCmndDt.equals('')">
				PAPRD_CMND_DT = #{paprdCmndDt},
			</if>
		</set>
		WHERE ordr_cd = #{ordrCd}
	</update>
<!-- 자재발주 삭제 -->
	<delete id="deleteMatOrderInfo" parameterType="String">
		DELETE FROM rsc_ordr
		WHERE ordr_cd = #{ordrCd}
	</delete>
	
<!-- 자재 재고 현황 -->
	<select id="matStockList" resultType="MatVO">
		SELECT * 
		  FROM rsc_stc_view     
         ORDER BY RSC_CD
	</select>
	
<!-- 자재입고 현황 -->	
	<select id="matReceiptList" resultType="MatVO">
		SELECT *
		  FROM rsc_ist
		 ORDER BY ist_dt DESC
	</select>
	<!-- 입고미완료 발주 전체 조회	 -->
	<select id="matReceiptChkList" resultType="MatVO">
		SELECT ri.*, r.rsc_cd
		FROM rsc_insp ri
		LEFT JOIN rsc r ON ri.rsc_nm = r.rsc_nm
		WHERE ri.rsc_lot_cd IS NULL
		ORDER BY ri.rsc_insp_cd
	</select>
	<!-- 자재입고 등록 -->
	<insert id="insertMatReceipt" parameterType="MatVO">
	<selectKey keyProperty="rscLotCd" resultType="String" order="BEFORE">
    SELECT CONCAT('RLT', LPAD(NVL(MAX(SUBSTR(rsc_lot_cd, 4)), '0000') + 1, 4, '0'))
    FROM rsc_ist
  </selectKey>
  BEGIN
  INSERT INTO rsc_ist (
    rsc_lot_cd,
    rsc_insp_cd,
    rsc_nm,
    rsc_cd,
    ordr_cd,
    ist_cnt,
    ist_dt,
    rsc_now_stc
  ) VALUES (
    #{rscLotCd},
    #{rscInspCd},
    #{rscNm},
    #{rscCd},
    #{ordrCd},
    #{istCnt},
    #{istDt},
    #{istCnt}
  );
  UPDATE rsc_insp SET rsc_lot_cd = #{rscLotCd} WHERE rsc_insp_cd = #{rscInspCd};
END;
	</insert>
<!-- 자재검사 단건조회 -->
	<select id="selectMatReceiptInfo" parameterType="MatVO" resultType="MatVO">
		SELECT *
		FROM rsc_ist 	
		WHERE rsc_lot_cd = #{rscLotCd}    
	</select>	
	<!-- 자재입고 수정 -->
	<update id="updateMatReceiptInfo" parameterType="MatVO">
		UPDATE rsc_ist
		<set>
			<if test="rscInspCd != null and !rscInspCd.equals('')">
				rsc_insp_cd = #{rscInspCd},
			</if>
			<if test="rscNm != null and !rscNm.equals('')">
				rsc_nm = #{rscNm},
			</if>
			<if test="rscCd != null and !rscCd.equals('')">
				rsc_cd = #{rscCd},
			</if>
			<if test="ordrCd != null and !ordrCd.equals('')">
				ordr_cd = #{ordrCd},
			</if>
			<if test="istCnt != null and !istCnt.equals('')">			
				ist_cnt = #{istCnt},
			</if>
			<if test="istDt != null and !istDt.equals('')">
				ist_dt = #{istDt},
			</if>
		</set>
		WHERE rsc_lot_cd = #{rscLotCd}
	</update>
	<!-- 자재입고 삭제 -->
	<delete id="deleteMatReceiptInfo" parameterType="String">
	BEGIN
		DELETE FROM rsc_ist
		WHERE rsc_lot_cd = #{rscLotCd};
		UPDATE rsc_insp SET rsc_lot_cd= '' WHERE rsc_insp_cd = #{rscInspCd};
	END;
	</delete>

<!-- 자재검사 현황 -->	
	<select id="matCheckList" resultType="MatVO">
		SELECT rsc_insp_cd
		     , ordr_cd
		     , rsc_nm
		     , insp_dt
		     , insp_tstr
		     , insp_cnt
		     , insp_pass_cnt
		     , cont
		     , decay
		     , pack
		     , under_weight
		     , etc
		     , rsc_lot_cd
		  FROM rsc_insp 
		 ORDER BY rsc_insp_cd DESC
	</select>	
<!-- 검사미완료 발주 전체 조회	 -->
	<select id="matOrderChkList" resultType="MatVO">
		SELECT *
		FROM rsc_ordr
	   WHERE ORDR_CHK != '진행완료'
	   ORDER BY ordr_cd
	</select>
<!-- 검수자 목록 -->			
	<select id="checkerList" resultType="MatVO">
		SELECT *
		FROM emp
	   WHERE job = '품질'
	   ORDER BY name
	</select>
<!-- 자재검사 등록 -->
	<insert id="insertMatCheck" parameterType="MatVO">
  <selectKey keyProperty="rscInspCd" resultType="String" order="BEFORE">
    SELECT CONCAT('RIC', LPAD(NVL(MAX(SUBSTR(rsc_insp_cd, 4)), '0000') + 1, 4, '0'))
    FROM rsc_insp
  </selectKey>
  BEGIN
    INSERT INTO rsc_insp (rsc_insp_cd, ordr_cd, rsc_nm, insp_cnt, insp_dt, insp_tstr, insp_pass_cnt, cont, decay, pack, under_weight, etc, etc_explain)
    VALUES (#{rscInspCd}, #{ordrCd}, #{rscNm}, #{inspCnt}, #{inspDt}, #{inspTstr}, #{inspPassCnt}, #{cont}, #{decay}, #{pack}, #{underWeight}, #{etc}, #{etcExplain});
    UPDATE rsc_ordr SET ordr_chk = '진행완료' WHERE ordr_cd = #{ordrCd};
  END;
</insert>
<!-- 자재검사 단건조회 -->
	<select id="selectMatCheckInfo" parameterType="MatVO" resultType="MatVO">
		SELECT *
		FROM rsc_insp 	
		WHERE rsc_insp_cd = #{rscInspCd}    
	</select>
<!-- 자재검사 수정 -->
	<update id="updateMatCheckInfo" parameterType="MatVO">
		UPDATE rsc_insp
		<set>
			<if test="ordrCd != null and !ordrCd.equals('')">
				ordr_cd = #{ordrCd},
			</if>
			<if test="rscNm != null and !rscNm.equals('')">
				rsc_nm = #{rscNm},
			</if>
			<if test="inspCnt != null and !inspCnt.equals('')">
				insp_cnt = #{inspCnt},
			</if>
			<if test="inspDt != null and !inspDt.equals('')">
				insp_dt = #{inspDt},
			</if>
			<if test="inspTstr != null and !inspTstr.equals('')">			
				insp_tstr = #{inspTstr},
			</if>
			<if test="inspPassCnt != null and !inspPassCnt.equals('')">
				insp_pass_cnt = #{inspPassCnt},
			</if>
			<if test="cont != null and !cont.equals('')">
				cont = #{cont},
			</if>
			<if test="decay != null and !decay.equals('')">
				decay = #{decay},
			</if>
			<if test="pack != null and !pack.equals('')">
				pack = #{pack},
			</if>
			<if test="underWeight != null and !underWeight.equals('')">
				under_weight = #{underWeight},
			</if>
			<if test="etc != null and !etc.equals('')">			
				etc = #{etc},
			</if>
			<if test="etcExplain != null and !etcExplain.equals('')">
				etc_explain = #{etcExplain}
			</if>
		</set>
		WHERE rsc_insp_cd = #{rscInspCd}
	</update>
<!-- 자재검사 삭제 -->
	<delete id="deleteMatatCheckInfo" parameterType="MatVO">
	BEGIN
		DELETE FROM rsc_insp
		WHERE rsc_insp_cd = #{rscInspCd};
		UPDATE rsc_ordr SET ordr_chk = '진행중' WHERE ordr_cd = #{ordrCd};
	END;
	</delete>
</mapper>