<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.spring.sales.mapper.EdctsOustMapper">
  <select id="selectEdctsOustAll" resultType="EdctsOustVO">
  	SELECT 	eo.edcts_oust_no,
       		eo.edcts_cd,
       		eo.edcts_lot_no,
       		eo.edcts_oust_dt,
       		eo.edcts_oust_cnt,
       		eo.order_no,
       		e.prdt_nm
	FROM 	edcts_oust eo JOIN edcts e 
	ON 		eo.edcts_cd = e.edcts_cd
	ORDER BY edcts_oust_no
  </select>
  
  <insert id="insertUpdateEdcts" parameterType="EdctsOustVO">
  		<selectKey keyProperty="edctsOustNo" order="BEFORE" resultType="String">
  			SELECT 	TO_CHAR(NVL(MAX(SUBSTR(edcts_oust_no, 5)), 999) + 1) AS "edcts_ist_no"
			FROM 	edcts_oust
  		</selectKey>
  		BEGIN
    		UPDATE 	edcts_ist
    		SET		edcts_lot_cnt = #{edctsLotCnt}
    		WHERE	edcts_lot_no = #{edctsLotNo};
    		
    		INSERT INTO edcts_oust(edcts_oust_no,
    							   edcts_cd,
    							   edcts_lot_no,
    							   edcts_oust_dt,
    							   edcts_oust_cnt,
    							   order_no)
    						VALUES('EOST' || #{edctsOustNo},
    							   #{edctsCd},
    							   #{edctsLotNo},
    							   sysdate,
    							   #{edctsOustCnt},
    							   #{orderNo})
		END;
  </insert>
</mapper>