<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.spring.sales.mapper.EdctsIstMapper">
	<!-- 제품 입고 조회 -->
	<select id="getEdctsIstList" resultType="EdctsIstVO">
		SELECT 		ei.edcts_ist_no, 
					ei.edcts_ist_dt,
					ei.edcts_ist_cnt, 
					ei.edcts_cd, 
					ei.edcts_lot_no,
					ei.edcts_expire,
					e.prdt_nm,
					ei.indica_cd
		FROM 		edcts e, edcts_ist ei
		WHERE 		e.edcts_cd = ei.edcts_cd
		ORDER BY ei.edcts_ist_no
	</select>
	
	<!-- 제품 입고 단건 조회 -->
	<select id="selectSingleList" resultType="EdctsIstVO">
		SELECT 		ei.edcts_ist_no, 
					ei.edcts_ist_dt, 
					ei.edcts_ist_cnt, 
					ei.edcts_cd, 
					ei.edcts_lot_no,
					ei.edcts_lot_cnt, 
					e.prdt_nm,
					ei.edcts_expire
		FROM 		edcts e, edcts_ist ei
		WHERE 		e.edcts_cd = ei.edcts_cd
		AND 		ei.edcts_cd = #{edctsCd}
		ORDER BY ei.edcts_ist_dt
	</select>
	
	<!-- 포장 검사 완료된 제품 조회 -->
	<select id="getCompletePro" resultType="EdctsIstVO">
		SELECT 	DISTINCT
        		p.prod_cnt, 
				p.infer_cnt, 
				p.prcs_status, 
				id.edcts_cd, 
		        e.prdt_nm,
		        pid.edcts_expire,
		        i.indica_cd
		FROM 	prcs_prog p, indica i, indica_dtl id, edcts e, prcs_insp_dtl pid
		WHERE 	p.indica_cd = i.indica_cd
		AND   	i.indica_cd = id.indica_cd
		AND   	id.edcts_cd = e.edcts_cd
		AND     p.prcs_chk_cd = pid.prcs_chk_cd
		AND     i.now_st = '생산완료'
		AND 	p.prcs_status = '포장검사완료'
		ORDER BY pid.edcts_expire
	</select>
	
	<!-- 제품 입고 등록 -->
	<insert id="insertEdctsIst" parameterType="EdctsIstVO">
	    <selectKey keyColumn="edcts_ist_no,edcts_lot_no" keyProperty="edctsIstNo,edctsLotNo" resultType="hashmap" order="BEFORE">
	        SELECT
	            TO_CHAR(NVL(MAX(SUBSTR(edcts_ist_no, 5)), 999) + 1) AS "edcts_ist_no",
	            TO_CHAR(sysdate, 'yyyyMMdd') || TO_CHAR(NVL(MAX(SUBSTR(edcts_lot_no, 16)), 999) + 1) AS "edcts_lot_no"
	        FROM edcts_ist
	    </selectKey>
		    INSERT INTO edcts_ist (
		                            edcts_ist_no,
		                            edcts_cd,
		                            edcts_ist_dt,
		                            edcts_ist_cnt,
		                            edcts_lot_no,
		                            edcts_lot_cnt,
		                            edcts_expire,
		                            indica_cd
		                          ) 
		                   VALUES (
		                            'EIST' || #{edctsIstNo},
		                            #{edctsCd},
		                            sysdate,
		                            #{edctsIstCnt},
		                            'EDCTS-L' || #{edctsLotNo},
		                            #{edctsIstCnt},
		                            #{edctsExpire},
		                            #{indicaCd}
		                          )
	</insert>
	
	<!-- 입고 제품 검색 -->
	<select id="searchEdctsList" resultType="EdctsIstVO">
		SELECT 		ei.edcts_ist_no, 
					ei.edcts_ist_dt,
					ei.edcts_ist_cnt, 
					ei.edcts_cd, 
					ei.edcts_lot_no, 
					e.prdt_nm,
					ei.edcts_expire,
					i.indica_cd
		FROM 		edcts e, edcts_ist ei
		WHERE 		e.edcts_cd = ei.edcts_cd
		AND <![CDATA[ei.edcts_ist_dt >= #{edctsIstDt}]]> and <![CDATA[ei.edcts_ist_dt <= #{edctsIstDtEnd} + 1]]>
	</select>

	<!-- 입고 제품 삭제 -->
	<delete id="deleteEdctsIst" parameterType="EdctsIstVO">
		BEGIN
			DELETE FROM edcts_ist
			WHERE	edcts_ist_no = #{edctsIstNo};
			
			UPDATE indica
			SET now_st = '생산완료'
			WHERE indica_cd IN (
  					SELECT i.indica_cd
  					FROM prcs_prog p 
  					JOIN indica i ON p.indica_cd = i.indica_cd
  					WHERE p.prcs_status = '포장검사완료'
  					AND	  i.indica_cd = #{indicaCd}
							);
		END;
	</delete>
	
	<!-- 입고하면 지시 현재상태 update -->
	<update id="updateIndicaSt" parameterType="EdctsIstVO">
		UPDATE indica
		SET now_st = '입고완료'
		WHERE indica_cd IN (
  					SELECT i.indica_cd
  					FROM prcs_prog p 
  					JOIN indica i ON p.indica_cd = i.indica_cd
  					WHERE p.prcs_status = '포장검사완료'
  					AND	  i.indica_cd = #{indicaCd}
							)
	</update>
</mapper>