<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.spring.sales.mapper.OrderMapper">
	<!-- 전체조회 -->
	<select id="selectOrderList" resultType="OrderSheetVO">
		SELECT 	order_no,
				order_dt,
				vend_cd,
				vend_nm,
				prog_appe,
				paprd_dt,
				order_nm
		FROM	order_sheet_test
		ORDER BY order_no
	</select>
	
	<!-- 주문번호 조회 -->
	<select id="selectOrderNo" resultType="OrderSheetVO">
		SELECT 	'ORD' || TO_CHAR(NVL(MAX(SUBSTR(order_no, 4)),999) + 1) as orderNo
		FROM 	order_sheet_test
	</select>
	
	<!-- 상품정보 조회 -->
	<select id="selectOrderPrd" resultType="OrderSheetVO">
		SELECT	edcts_cd, prdt_nm
		FROM	edcts
		ORDER BY edcts_cd
	</select>
	
	<!-- 주문서 등록 -->
	<insert id="insertOrder" parameterType="OrderSheetVO">
		<selectKey keyProperty="orderNo" resultType="String" order="BEFORE">
			SELECT 	TO_CHAR(NVL(MAX(SUBSTR(order_no, 4)),999) + 1)
			FROM 	order_sheet_test
		</selectKey>
		INSERT INTO order_sheet_test (order_no,
									  order_dt,
									  vend_cd,
									  vend_nm,
									  prog_appe,
									  paprd_dt,
									  order_nm	
									 )
						     VALUES ('ORD' || #{orderNo},
						     		 #{orderDt},
						     		 #{vendCd},
						     		 #{vendNm},
						     		 '접수완료',
						     		 #{paprdDt},
						     		 #{orderNm}
						     		)
	</insert>
	
	<!-- 주문서 디테일 등록 -->
	<insert id="insertOrderPrd" parameterType="OrderSheetVO">
		INSERT INTO order_sheet_prd_test (
										  edcts_cd,
										  order_cnt,
										  prdt_nm,
										  order_no
										 )
								  VALUES (
								  		  #{edctsCd},
								  		  #{orderCnt},
								  		  #{prdtNm},
								  		  #{orderNo}
	   								     )
		
	</insert>
	
	<!-- 주문서 삭제 -->
	<delete id="deleteOrder" parameterType="OrderSheetVO">
		BEGIN
    		DELETE FROM order_sheet_test
    		WHERE order_no = #{orderNo};
    
    		DELETE FROM order_sheet_prd_test
    		WHERE order_no = #{orderNo};
		END;
	</delete>
	
	<!-- 주문서 진행도 수정 -->
	<update id="updateOrderProg" parameterType="OrderSheetVO">
		UPDATE 	order_sheet_test
		SET		prog_appe = #{progAppe}
		WHERE	order_no = #{orderNo}
	</update>
	
	<!-- 주문서 디테일 조회 -->
	<select id="selectOrderDetail" resultType="OrderSheetVO">		
		SELECT 	op.edcts_cd,
				op.prdt_nm,
				op.order_cnt,
				v.vend_nm,
				v.vend_mag,
				v.vend_addr
		FROM 	order_sheet_test o
		JOIN 	order_sheet_prd_test op ON o.order_no = op.order_no
		JOIN 	vend v ON o.vend_cd = v.vend_cd
		WHERE	op.order_no = #{orderNo}
		ORDER BY op.edcts_cd
	</select>
	
	<!-- 주문서 검색 -->
	<select id="searchOrder" resultType="OrderSheetVO">
		SELECT  order_no,
				order_dt,
				vend_cd,
				vend_nm,
				prog_appe,
				paprd_dt,
				order_nm
		FROM	order_sheet_test
		<where>
			<if test="orderNm != null and !orderNm.equals('')">
				AND order_nm LIKE '%' || #{orderNm} || '%'
			</if>
			<if test="progAppe != null and !progAppe.equals('')">
				AND prog_appe LIKE '%' || #{progAppe} || '%'
			</if>
			<if test="orderDt != null and !orderDt.equals('')">
				AND <![CDATA[order_dt >= #{orderDt}]]> and <![CDATA[order_dt <= #{paprdDt}]]>
			</if>
		</where>
	</select>
	
	<!-- 주문서 수정 -->
	<update id="updateOrder" parameterType="OrderSheetVO">
		UPDATE 	order_sheet_test
		SET		order_nm = #{orderNm},
				paprd_dt = #{paprdDt}
		WHERE	order_no = #{orderNo}
	</update>
	
	<!-- 주문서 디테일 수정 -->
	<update id="updateOrderDetail" parameterType="OrderSheetVO">
		UPDATE 	order_sheet_prd_test
		SET		order_cnt = #{orderCnt}
		WHERE	edcts_cd = #{edctsCd}
		AND		order_no = #{orderNo}
	</update>
	
	<!-- 주문서 디테일 삭제 -->
	<delete id="deleteOrderDetail" parameterType="OrderSheetVO">
		DELETE FROM order_sheet_prd_test
		WHERE	edcts_cd = #{edctsCd}
		AND		order_no = #{orderNo}
	</delete>
	
	<!-- 출고쪽 주문서 출고완료된거 빼고 전체조회 -->
	<select id="selectEdctsoutOrderList" resultType="OrderSheetVO">
		SELECT 	order_no,
				order_dt,
				vend_cd,
				vend_nm,
				prog_appe,
				paprd_dt,
				order_nm
		FROM	order_sheet_test
        WHERE prog_appe != '출고완료'
		ORDER BY order_no
	</select>
</mapper>